#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

#relative {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.autocomplete-suggestions {
  background: white;
  border: 1px solid;
  padding: 0 4px;
  height: 50px;
  position: relative;
  background-color: powderblue;
  font-weight: bold;
}

.numeros {
  text-align: right;
}

.petit {
  text-align: right;
  width: 4em;
}

.unitari {
  text-align: right;
  width: 3em;
}

.petit_mitja {
  text-align: right;
  width: 6em;
}

.mitja {
  text-align: right;
  width: 10em;
}

.gran {
  width: 20em;
}

.esquerra {
  text-align: left;
}

.dreta {
  text-align: right;
}

.truncate {
  display: block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[id^="expand-rows-"] {
  display: none;
}

input[id^="expand-rows-"]:checked ~ label {
  transform: rotate(180deg);
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  padding-left: 4px;
  display: none;
}

.create-link {
  font-size: 12px;
  padding-left: 4px;
}

.disabled {
  opacity: 0.7;
  background-color: rgb(243, 243, 243);
}

.table > :not(caption) {
  white-space: nowrap;
}

.datatable-top {
  padding: 8px 0 !important;
}

[x-cloak] {
  display: none !important;
}

.light {
  background: white;
  border: 1px solid black;
  color: black;
}

.light-dark {
  background: #ccc;
  color: black;
}

.mid-dark {
  background: #808080;
  color: white;
}

.dark {
  background: var(--bs-dark);
  color: white;
}

.light-red {
  background: #ff7575;
  color: white;
  border: 0;
}

.light:hover {
  background: var(--bs-dark);
  border: 1px solid white;
  color: white;
}

.light-dark:hover,
.mid-dark:hover,
.dark:hover {
  background: white;
  border: 1px solid var(--bs-dark);
  color: var(--bs-dark);
}

.footer {
  position: sticky;
  bottom: 0;
}
