<% layout('layouts/boilerplate')%>
<style>
  /* Customize the page appearance here */
  body {
    background-color: #f8f9fa;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="container">
  <div class="text-center">
    <h1 class="display-1">Error</h1>
    <p>Hi ha hagut un error...</p>
    <%
      if (process.env.NODE_ENV == "dev") { %>
        <div class="text-danger">
          <p><%= err %></p>
        </div>
    <%
      }
    %>
    <a href="/" class="btn btn-primary">Torna</a>
  </div>
</div>
