<div class="container">
  <form id="add-row-form" autocomplete="off" action="#">
    <table id="add-row-table" class="table table-condensed table-striped">
      <tr>
        <th>Num. Serie</th>
        <th>Nom</th>
        <th>Preu</th>
        <th>Unitat de destí</th>
        <th>Departament</th>
        <th>Proveidor</th>
        <th></th>
      </tr>

      <tr class="add-row-row">
        <div class="form-group">
          <td>
            <input
              type="text"
              class="numeros form-control numSerie"
              name="numSerie"
              id="numSerie"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="camps form-control article autocomplete"
              name="article"
              id="item"
              autocomplete="off"
              required
            />
            <span class="error-message">L'item no existeix</span>
            <a href= "/items/new?tab=true" class="create-link" target="_blank">Crear Item</a>
          </td>
          <td>
            <input
              type="number"
              class="numeros form-control preu"
              step="0.01"
              name="preu"
              id="preu"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="unitat"
              id="unitat"
              required
              autocomplete="off"
            />
            <span class="error-message">La unitat no existeix</span>
            <a href= "/unitats/new?tab=true" class="create-link" target="_blank">Crear Unitat</a>
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="department"
              id="department"
              required
              autocomplete="off"
            />
            <span class="error-message">La departament no existeix</span>
            <a href= "/departments/new?tab=true" class="create-link" target="_blank">Crear Departament</a>
          </td>
          <td>
            <input
              type="text"
              class="camps form-control autocomplete"
              name="proveidor"
              id="proveidor"
              autocomplete="off"
              required
            />
            <span class="error-message">El proveidor no existeix</span>
            <a href= "/proveidors/new?tab=true" class="create-link" target="_blank">Crear Proveidor</a>
          </td>
          <td>
            <button id="add-row-btn" class="btn btn-primary form-control">
              Afegir
            </button>
          </td>
        </div>
      </tr>

      <div class="row numeros" style="padding-right: 10%" id="crear"></div>
    </table>
  </form>

  <p></p>
  <p></p>

  <!-- Articles -->
  <table
    class="table table-condensed table-striped"
    id="articles"
    style=<%= articles.length ? '' : 'display: none' %>
  >
    <tr>
        <th>Num. Serie</th>
        <th>Nom</th>
        <th>Preu</th>
        <th>Unitat de destí</th>
        <th>Departament</th>
        <th>Proveidor</th>
        <th></th>
    </tr>
  </table>

    <div class="mb-3">
      <button id="send-articles" class="btn btn-success">
        Afegeix Articles
      </button>
    </div>
</div>
