<% layout('layouts/boilerplate')%>

<h1 class="text-center">Invita un nou usuari</h1>

<div class="col-6 offset-3">
  <form action="/register" method="POST" class="validated-form">
    <input name="centerId" value="<%= center.id %>" hidden />
    <div class="mb-3">
      <label for="centerName" class="form-label">Nom del Centre</label>
      <input
        type="text"
        class="form-control"
        id="centerName"
        name="centerName"
        placeholder="Introdueix el nom del centre (e.g. IES Sant Joan)"
        required
        disabled
        value="<%= center.name %>"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correu electrònic</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Introdueix el teu correu electrònic"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Envia Invitacio</button>
  </form>

  <a href="/users">Tots els Usuaris</a>
</div>
