<% layout('layouts/boilerplate')%>

<h1><%= user.username %></h1>
<p> <a href="/users/<%=user._id%>/edit">Editar Usuari</a>
</p>
<p>
<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
    <button disabled class="btn btn-danger">Esborrar Usuari</button>
</form>
</p>
<footer>
    <a href="/users">Tots els Usuaris</a>
</footer>

<script>
    const formEl = document.querySelector('form')
    formEl.addEventListener('submit', async (e) => {
        e.preventDefault()

        const confirmation = confirm("Estas segur que vols esborrar l\'usuari?")
        if (!confirmation) return


        await fetch('/users/<%= user._id %>', {
            method: "DELETE",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
            }
        })
            .then(() => window.location.href = '/users')
            .catch(() => window.location.href = '/users')
    })
</script>