<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La teva aplicació de gestió d'inventari escolar</title>

    <!-- ReCapthca -->
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LdcwiwpAAAAADCjabSnzKkkqDm1yRg-k4TDco8W"></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <style>
      body {
        scroll-behavior: smooth;
      }

      section {
        padding: 4rem 0;
      }

      section:nth-of-type(odd) {
        background-color: #f8f9fa;
      }

      #hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
      }

      .chevron {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
      }
      .chevron,
      .chevron img {
        max-height: 3rem;
        max-width: 3rem;
      }
      .chevron img {
        stroke: white;
        fill: white;
        animation: bounce 10s ease 0s infinite normal forwards;
      }
      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
          transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
          transform: translateY(8px);
        }

        80% {
          transform: translateY(6.4px);
        }

        90% {
          transform: translateY(-6.4px);
        }
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand text-white" href="#hero">INVENTARI ESCOLAR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="#features">Funcionalitats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#how-it-works">Com Funciona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#signup">Registrar-se</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white app-link" href=<%= appTargetUrl %> >Applicacio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Secció Hero -->
    <section id="hero" class="bg-primary text-white">
      <div class="container">
        <h1 class="display-4">
          Benvingut a l'Aplicació de Gestió d'Inventari Escolar
        </h1>
        <p class="lead">
          Gestiona fàcilment l'inventari de la teva escola amb la nostra potent aplicació web.
        </p>
        <a href="#how-it-works" class="btn btn-light btn-lg">Més informació</a>
        <a href="#signup" class="btn btn-light btn-lg">Registra't</a>
        <a href=<%= appTargetUrl %> class="btn btn-light btn-lg">Accedeix a l'Aplicacio</a>
      </div>
      <a href="#features" class="chevron">
        <img src="/images/down-chevron.svg" />
      </a>
    </section>

    <!-- Secció Funcionalitats -->
    <section id="features" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Fàcil d'Utilitzar</h2>
            <p>
              La nostra aplicació ofereix una interfície fàcil d'utilitzar que no requereix una formació extensa o coneixements tècnics.
            </p>
          </div>
          <div class="col-md-4">
            <h2>Fluxe de Treball Optimitzat</h2>
            <p>
              Gestiona les compres, l'aprovació de factures i el seguiment de l'inventari en una plataforma centralitzada.
            </p>
          </div>
          <div class="col-md-4">
            <h2>Seguiment en Temps Real</h2>
            <p>
              Segueix l'estat de les teves compres i mantén tothom informat sobre el progrés de cada article.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Secció Com Funciona -->
    <section id="how-it-works" class="text-center bg-light">
      <div class="container">
        <h2 class="mb-4 text-center">Com Funciona</h2>
        <div class="row">
          <div class="col-md-6 p-4">
            <h4>Pas 1: Registre d'Usuari</h4>
            <p>
              Crea un compte com a administrador o usuari habitual i proporciona la informació necessària.
            </p>
          </div>
          <div class="col-md-6 p-4">
            <h4>Pas 2: Configuració de Departaments</h4>
            <p>
              Organitza els usuaris en departaments per optimitzar la col·laboració i el control de l'inventari.
            </p>
          </div>
          <div class="col-md-6 p-4">
            <h4>Pas 3: Creació de Factures</h4>
            <p>
              Els departaments poden crear factures per les seves compres i enviar-les per a l'aprovació de l'administrador.
            </p>
          </div>
          <div class="col-md-6 p-4">
            <h4>Pas 4: Aprovació i Actualització d'Inventari</h4>
            <p>
              Els administradors revisen i aproven les factures. Una vegada marcades com a completes, els articles comprats s'afegeixen automàticament a l'inventari.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Secció de Registre -->
    <section id="signup">
      <div class="container">
        <h2 class="text-center mb-4">Registra't</h2>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form id="registerForm" method="post" action="<%= appTargetUrl %>/register-center">
              <div class="mb-3">
                <label for="center" class="form-label">Nom del Centre</label>
                <input
                  type="text"
                  class="form-control"
                  id="center"
                  name="center"
                  placeholder="Introdueix el nom del centre (e.g. IES Sant Joan)"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Introdueix el teu nom"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="surname" class="form-label">Cognoms</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  name="surname"
                  placeholder="Introdueix els cognoms"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Correu electrònic</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Introdueix el teu correu electrònic"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contrasenya</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Introdueix la teva contrasenya"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="passwordRepeat" class="form-label">Validacio de Contrasenya</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwordRepeat"
                  placeholder="Torna a introduir la teva contrasenya"
                  required
                />
                <div class="valid-feedback">
                    Sembla correcte !
                </div>
                <div class="password invalid-feedback">
                    El password no coincideix
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary">Registra't</button> -->
              <button class="g-recaptcha btn btn-primary" data-sitekey="6LdcwiwpAAAAADCjabSnzKkkqDm1yRg-k4TDco8W" data-callback="submitForm" data-action="submit">Registra't</button>
            </form>
            <div class="mt-4">
              <small>Al enregistrar-te s'enviara un correu electronic de validacio a l'adreca indicada. Un cop validat, podras entrar a l'aplicacio del teu centre com a administrador.</small>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Peu de pàgina -->
    <footer class="bg-dark text-white text-center py-3">
      <div class="container">
        <p>
          &copy; 2023 L'aplicació de Gestió de l'Inventari de la Teva Escola. Tots els drets reservats.
        </p>
      </div>
    </footer>

    <!-- JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

<script>
  // Desplaçament suau per als enllaços de la barra de navegació
  document.querySelectorAll(".chevron, a.navbar-brand, a.nav-link:not(.app-link)").forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const target = document.querySelector(link.getAttribute("href"));
      target.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    });
  });

  window.addEventListener('load', () => {
      const formEl = document.querySelector('#registerForm')
      const passwordResetFeedbackEl = document.querySelector('.password.invalid-feedback')
      const passwordInputs = document.querySelectorAll('#password, #passwordRepeat')
      Array.prototype.forEach.call(passwordInputs, passwordInput => {
          passwordInput.addEventListener('input', () => passwordResetFeedbackEl.classList.remove('d-block'))
      })
      formEl.addEventListener('submit', function (e) {
        e.preventDefault()
        const isPasswordValid = validatePassword(passwordInputs)

        if (!isPasswordValid) {
          passwordResetFeedbackEl.classList.add('d-block')
          return
        }
      })
  })

  function submitForm (token) {
      const formEl = document.querySelector('#registerForm')
      const passwordInputs = document.querySelectorAll('#password, #passwordRepeat')
      const isPasswordValid = validatePassword(passwordInputs)

      if (!isPasswordValid) {
        passwordResetFeedbackEl.classList.add('d-block')
        return
      }

      formEl.submit()
  }

  function validatePassword(passwordInputs) {
      let isValid = true
      Array.prototype.reduce.call(passwordInputs, (acc, passwordInput) => {
          const val = passwordInput.value
          if (!acc) return val
          if (acc !== val) isValid = false
          return val
      }, '')
      return isValid
  }
</script>
