<% layout('layouts/boilerplate')%>
<%- include('../partials/title.ejs', { title: 'Nou Item' }) %>

<form action="/items" method="POST" class="validated-form">

  <div class="container">

    <div class="mb-3">
      <label class="form-label" for="inventariable">Inventariable</label>
      <select class="form-select" name="inventariable" id="inventariable">
        <option value="true">
          Inventariable
        </option>
        <option value="false">
          No Inventariable
        </option>
      </select>
    </div>

        <div class="row">
          <div class="col-sm">
            <div class="mb-3">
              <label class="form-label" for="nom">Nom Item</label>
              <input
                class="form-control"
                type="text"
                id="nom"
                name="nom"
                required
              />
              <div class="valid-feedback">Sembla correcte!</div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label class="form-label" for="tipus">Tipus</label>
            <select
              class="form-select mb-3"
              aria-label="tipus"
              name="tipus"
              required
            >
              <option value="" disabled selected>Escull un tipus d'article</option>
              <option value="informatica i electronica">Informatica i Electronica</option>
              <option value="maquinaria">Maquinària</option>
              <option value="moble">Moble</option>
              <option value="utillatge">Utillatge</option>
              <option value="consumible">Consumible</option>
              <option value="consumible">Llibres</option>
              <option value="consumible">Jocs</option>
              <option value="construccio">Material de construcciò</option>
              <option value="lampisteria">Material elèctric i lampisteria</option>
              <option value="serveis">Serveis</option>
            </select>

          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="descripcio">Descripció</label>
          <textarea
            class="form-control"
            type="text"
            id="descripcio"
            name="descripcio"
          ></textarea>
        </div>

        <% if(autoclose) { %>
            <input type="text" id="autoclose" name="autoclose" value="true" hidden>
        <% } %>

        <div class="mb-3">
          <button class="btn btn-success">Afegeix Item</button>
        </div>
      </div>
    </div>
  </div>
</form>

<a href="/items">Tots els Items</a>
