<% layout('layouts/boilerplate')%>
  <h1 class="text-center mb-5">Nou item</h1>
    <form action="/items" method="POST" class="validated-form">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 mx-auto">

            <div class="row py-2">
              <label class="form-label" for="inventariable">Inventariable</label>
              <div class="col-sm">
                <div class="form-check border rounded">
                  <div class="p-2">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inventariable"
                        required
                        id="inventariable2"
                        value="inventariable"
                        checked
                      />
                      <label class="form-check-label" for="inventariable2">
                        Inventariable
                      </label>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-check border rounded">
                  <div class="p-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inventariable"
                      required
                      id="inventariable1"
                      value="no_inventariable"
                    />
                    <label class="form-check-label" for="inventariable1">
                      No inventariable
                    </label>
    
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label class="form-label" for="nom">Nom Item</label>
                  <input
                    class="form-control"
                    type="text"
                    id="nom"
                    name="nom"
                    required
                  />
                  <div class="valid-feedback">Sembla correcte!</div>
                </div>
    
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm">
                <label class="form-label" for="tipus">Tipus</label>
                <select
                  class="form-select mb-3"
                  aria-label="tipus"
                  name="tipus"
                  required
                >
                  <option value="" disabled selected>Escull un tipus d'article</option>
                  <option value="maquinaria">Maquinària</option>
                  <option value="moble">Moble</option>
                  <option value="utillatge">Utillatge</option>
                  <option value="Consumible">Consumible</option>
                  <option value="construccio">Material de construcciò</option>
                  <option value="lampisteria">
                    Material elèctric i lampisteria
                  </option>
                </select>
    
              </div>
            </div>
    
            <div class="mb-3">
              <label class="form-label" for="descripcio">Descripció</label>
              <textarea
                class="form-control"
                type="text"
                id="descripcio"
                name="descripcio"
                required
              ></textarea>
            </div>
    
            <div class="mb-3">
              <button class="btn btn-success">Afegeix Item</button>
            </div>
          </div>
        </div>


      </div>
    </form>
    <a href="/items">Tots els Items</a>

<script>
  const formEl = document.querySelector("form");
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const tab = urlParams.get("tab");

  const inputEls = document.querySelectorAll(
    'input[type="text"], input[type="radio"]:checked, select, textarea'
  );

  formEl.addEventListener("submit", async function (event) {
    event.preventDefault();
    const formData = Array.prototype.reduce.call(
      inputEls,
      (acc, inputEl) => {
        const key = inputEl.name;
        const value = inputEl.value;
        return { ...acc, [key]: value };
      },
      {}
    );
    console.log(formData);

    const response = await fetch("/items", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ item: formData }),
    });
    const item = await response.json();

    if (tab) {
      window.close();
    } else {
      window.location.href = `/items/${item._id}`;
    }
  });
</script>
