<% layout('layouts/boilerplate')%>

<style>
  body {
    background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    backdrop-filter: saturate(0.5);
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form">
            <div class="my-4">
              <label class="form-label" for="username">Responsable</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Sembla correcte !</div>

              <div class="my-4">
                <label class="form-label" for="password">Contrassenya</label>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  required
                />
                <div class="valid-feedback">Sembla correcte !</div>
              </div>
              <button class="btn btn-success btn-block">Connectar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
