<% layout('layouts/boilerplate')%>

<h3 id="titol">Afegeix Inventaris</h3>
<p></p>
<p></p>
<%- include('../partials/inventariForm.ejs', { inventaris: [] }) %>

<script>
  const inventarisTable = document.querySelector("#inventaris");
  const addRowTable = document.querySelector("#add-row-table");
  const addRowBtn = document.querySelector("#add-row-btn");
  const addRowForm = document.querySelector("#add-row-form");
  const sendInventarisBtn = document.querySelector("#send-inventaris");

  const itemInputEl = addRowTable.querySelector('#item')
  const departmentInputEl = addRowTable.querySelector('#department')
  const unitatInputEl = addRowTable.querySelector('#unitat')

  const autocompleteInputs = addRowTable.querySelectorAll(".add-row-row input.autocomplete")
  Array.prototype.forEach.call(autocompleteInputs, inputEl => {
    inputEl.addEventListener('change', () => hideError(inputEl))
  })

  // Add row to inventaris
  addRowForm.addEventListener("submit", async (e) => {
    e.preventDefault()
    // check autocompletes input
    // add row to table
    // get add row inputs
    const autocompleteInputsAreValid = await checkAutompleteInputs(addRowTable)
    if (!autocompleteInputsAreValid) return

    const addRowInputs = addRowTable.querySelectorAll(".add-row-row input");
    const inputValues = Array.prototype.map.call(addRowInputs, (inputEl) => {
      return {
        name: inputEl.name,
        value: inputEl.value,
        hidden: inputEl.type === "hidden",
      };
    });
    const newRowHTML = `
      <tr class="inventari">
        ${inputValues.reduce((acc, curr) =>
            (acc += `
              <td
                name="${curr.name}"
                data-value="${curr.value}"
                style="display: ${curr.hidden ? "none" : "table-cell"}"
                class="align-middle"
              >
                ${curr.value}
              </td>
            `),
            ""
        )}
        <td>
          <button type="button" class="btn btn-danger delete-row-inventari">X</button>
        </td>
      </tr>
    `;
    inventarisTable.rows[0].insertAdjacentHTML("afterend", newRowHTML);

    // display inventaris inventaris table
    inventarisTable.style.display = "table";

    // Keep all input values but numSerie
    Array.prototype.map.call(addRowInputs, (inputEl) => {
      const keep = /^(?!.*numSerie).*$/.test(inputEl.id)
      if (keep) return
      inputEl.value = ''
    })
  });

  inventarisTable.addEventListener("click", (e) => {
    const { target } = e;
    const isDeleteRowEl = target.classList.contains('delete-row-inventari')
    if (!isDeleteRowEl) return
    const inventariRow = target.closest("tr.inventari");
    if (!inventariRow) return;
    inventariRow.remove();
  });

  sendInventarisBtn.addEventListener("click", (e) => {
    const confirmation = confirm("Estas segur que vols afegir els inventaris?")
    if (!confirmation) return

    const inventarisData = getInventarisData();

    fetch("/inventaris", {
      method: "POST",
      mode: "cors",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ inventaris: [...inventarisData] }),
    })
      .then(() => (window.location.href = "/inventaris"))
      .catch((e) => console.error(e));
  });

  function getInventarisData() {
    const rowEls = inventarisTable.querySelectorAll("tr.inventari");inventaris
    return Array.prototype.map.call(rowEls, (rowEl) => {
      const rowInventarisValues = Array.prototype.reduce.call(
        rowEl.cells,
        (acc, cellEl) => {
          return {
            ...acc,
            [cellEl.getAttribute("name")]: cellEl.dataset.value,
          };
        },
        {}
      );
      return rowInventarisValues;
    });
  }
  function showError (inputEl) {
    inputEl.classList.add('error')
    const messageErrorEl = inputEl.parentElement.querySelector('.error-message')
    messageErrorEl.style.display = 'block'
  }

  function hideError (inputEl) {
    inputEl.classList.remove('error')
    const messageErrorEl = inputEl.parentElement.querySelector('.error-message')
    messageErrorEl.style.display = 'none'
  }

  function checkAutompleteInput (inputEl, validInputs) {
    const isValid = validInputs.indexOf(inputEl.value) !== -1
    if (!isValid) showError(inputEl)
    return isValid
  }

  async function checkAutompleteInputs (addRowTable) {
    const [itemInputs, departmentInputs, unitatInputs] = await Promise.all([
      fetchInputs('../items/all'),
      fetchInputs('../departments/all'),
      fetchInputs('../unitats/all'),
    ])
    const itemInputIsValid = checkAutompleteInput(itemInputEl, itemInputs)
    const departmentInputIsValid = checkAutompleteInput(departmentInputEl, departmentInputs)
    const unitatInputIsValid = checkAutompleteInput(unitatInputEl, unitatInputs)
    return itemInputIsValid && departmentInputIsValid && unitatInputIsValid
  }

  function fetchInputs (route) {
    return fetch(route)
      .then(res => res.json())
      .then(data => {
        return data.map(d => d.nom)
      })
  }
</script>

<script src="/public/bundles/autocompletes.js"></script>
<script>
  addAutocompletes([
    { autocompleteName: "item", filter: "inventariable" },
    { autocompleteName: "unitat" },
    { autocompleteName: "department" }
  ])
</script>
