<% layout('layouts/boilerplate')%>
<%- include('./partials/title.ejs', { title: 'Centre' }) %>

<div class="d-flex flex-column fs-5">
  <a class="px-2 py-2" aria-current="location" href="/unitats">Unitats</a>
  <a class="px-2 py-2" aria-current="location" href="/plantas">Plantes</a>
  <a class="px-2 py-2" aria-current="location" href="/areas">Arees</a>
  <a class="px-2 py-2" aria-current="location" href="/proveidors">Proveidors</a>
  <a class="px-2 py-2" aria-current="location" href="/departments">Departaments</a>
</div>
